{% extends 'headerandfooter.html' %}
{% load staticfiles %}
{% block content %}
  <!--content-->
  <section id="department" class="dpbody divider parallax layer-overlay overlay-dark-9" data-bg-img="" >
      <div class="container">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
              <h2 class="mt-0 text-white mb-30">Departments</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="vertical-tab">
              <ul class="nav nav-tabs">
                <li class="active"><a class="asdf" href="#tab16" data-toggle="tab">President & Vice President  </a></li>
                <li><a class="asdf" href="#tab17" data-toggle="tab">Secretary</a></li>
                <!--<li><a class="asdf" href="#tab18" data-toggle="tab">Members</a></li>-->
                <li><a class="asdf" href="#tab19" data-toggle="tab">Members</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-9 col-md-9 sm-text-center">
            <div class="tab-content bg-white">
              <div class="tab-pane fade in active" id="tab16">
                <div class="row">
                  <div class="col-sm-4 col-md-5">
                    <div class="thumb">
                      <img class="img-fullwidth" src="{% static 'images/team/test.jpg' %}" alt="">
                    </div>
                    <div>
                      <h4 class="mb-5">Bharath</h4>
                      <ul class="list-inline mt-5">
			
			<li class="m-0 pl-10 pr-10"> Phone  : +91 9121 201 260 </a> </li>
              <li class="m-0 pl-10 pr-10"></a>Address : RAIKAL,JAGITYAL,Telangana </li>
              <li class="m-0 pl-10 pr-10"> email  : innovatorsraikal@gmail.com</a> </li>
              
            </ul> 
                      
                    </div>
                  </div>
				  <br>
                 
                  <div class="col-sm-4 col-md-5">
                    <div class="thumb">
                      <img class="img-fullwidth" src="{% static 'images/team/test.jpg' %}" alt="">
                    </div>
                    <div>
                      <h4 class="mb-5">Bharath</h4>
                      <ul class="list-inline mt-5">
			
			<li class="m-0 pl-10 pr-10"> Phone  : +91 9121 201 260 </a> </li>
              <li class="m-0 pl-10 pr-10"></a>Address : RAIKAL,JAGITYAL,Telangana </li>
              <li class="m-0 pl-10 pr-10"> email  : innovatorsraikal@gmail.com</a> </li>
              
            </ul> 
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab17">
                <div class="row">
                  <div class="col-sm-4 col-md-4"> 
                    <img class="img-fullwidth" src="{% static 'images/team/test.jpg' %}" alt="">
                     <div>
                      <h4 class="mb-5">Bharath</h4>
                      <ul class="list-inline mt-5">
			
			<li class="m-0 pl-10 pr-10"> Phone  : +91 9121 201 260 </a> </li>
              <li class="m-0 pl-10 pr-10"></a>Address : RAIKAL,JAGITYAL,Telangana </li>
              <li class="m-0 pl-10 pr-10"> email  : innovatorsraikal@gmail.com</a> </li>
              
            </ul> 
                      
                    </div>
                  </div>
                  <div class="col-sm-4 col-md-4">
                   <img class="img-fullwidth" src="{% static 'images/team/test.jpg' %}" alt="">
                     <div>
                      <h4 class="mb-5">Bharath</h4>
                      <ul class="list-inline mt-5">
			
			<li class="m-0 pl-10 pr-10"> Phone  : +91 9121 201 260 </a> </li>
              <li class="m-0 pl-10 pr-10"></a>Address : RAIKAL,JAGITYAL,Telangana </li>
              <li class="m-0 pl-10 pr-10"> email  : innovatorsraikal@gmail.com</a> </li>
              
            </ul> 
                      
                    </div>
                  </div>
                  <div class="col-sm-4 col-md-4">
                   <img class="img-fullwidth" src="{% static 'images/team/test.jpg' %}" alt="">
                     <div>
                      <h4 class="mb-5">Bharath</h4>
                      <ul class="list-inline mt-5">
			
			<li class="m-0 pl-10 pr-10"> Phone  : +91 9121 201 260 </a> </li>
              <li class="m-0 pl-10 pr-10"></a>Address : RAIKAL,JAGITYAL,Telangana </li>
              <li class="m-0 pl-10 pr-10"> email  : innovatorsraikal@gmail.com</a> </li>
              
            </ul> 
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab18">
                <div class="row">
                  <div class="col-sm-6 col-md-6"> 
                    <img class="img-fullwidth" src="{% static 'images/team/test.jpg' %}" alt="">
                     <div>
                      <h4 class="mb-5">Bharath</h4>
                      <ul class="list-inline mt-5">
			
			<li class="m-0 pl-10 pr-10"> Phone  : +91 9121 201 260 </a> </li>
              <li class="m-0 pl-10 pr-10"></a>Address : RAIKAL,JAGITYAL,Telangana </li>
              <li class="m-0 pl-10 pr-10"> email  : innovatorsraikal@gmail.com</a> </li>
              
            </ul> 
                      
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-6"> 
                    <img class="img-fullwidth" src="{% static 'images/team/test.jpg' %}" alt="">
                     <div>
                      <h4 class="mb-5">Bharath</h4>
                      <ul class="list-inline mt-5">
			
			<li class="m-0 pl-10 pr-10"> Phone  : +91 9121 201 260 </a> </li>
              <li class="m-0 pl-10 pr-10"></a>Address : RAIKAL,JAGITYAL,Telangana </li>
              <li class="m-0 pl-10 pr-10"> email  : innovatorsraikal@gmail.com</a> </li>
              
            </ul> 
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab19">
                <div class="row">
                  <div class="col-sm-4 col-md-4"> 
                    <img class="img-fullwidth" src="{% static 'images/team/test.jpg' %}" alt="">
                     <div>
                      <h4 class="mb-5">Bharath</h4>
                      <ul class="list-inline mt-5">
			
			<li class="m-0 pl-10 pr-10"> Phone  : +91 9121 201 260 </a> </li>
              <li class="m-0 pl-10 pr-10"></a>Address : RAIKAL,JAGITYAL,Telangana </li>
              <li class="m-0 pl-10 pr-10"> email  : innovatorsraikal@gmail.com</a> </li>
              
            </ul> 
                      
                    </div>
                  </div>
                  <div class="col-sm-4 col-md-4">
                   <img class="img-fullwidth" src="{% static 'images/team/test.jpg' %}" alt="">
                     <div>
                      <h4 class="mb-5">Bharath</h4>
                      <ul class="list-inline mt-5">
			
			<li class="m-0 pl-10 pr-10"> Phone  : +91 9121 201 260 </a> </li>
              <li class="m-0 pl-10 pr-10"></a>Address : RAIKAL,JAGITYAL,Telangana </li>
              <li class="m-0 pl-10 pr-10"> email  : innovatorsraikal@gmail.com</a> </li>
              
            </ul> 
                      
                    </div>
                  </div>
                  <div class="col-sm-4 col-md-4">
                   <img class="img-fullwidth" src="{% static 'images/team/test.jpg' %}" alt="">
                     <div>
                      <h4 class="mb-5">Bharath</h4>
                      <ul class="list-inline mt-5">
			
			<li class="m-0 pl-10 pr-10"> Phone  : +91 9121 201 260 </a> </li>
              <li class="m-0 pl-10 pr-10"></a>Address : RAIKAL,JAGITYAL,Telangana </li>
              <li class="m-0 pl-10 pr-10"> email  : innovatorsraikal@gmail.com</a> </li>
              
            </ul> 
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  <!--end-->
  
 {% endblock %}